
<!DOCTYPE html>
<html>
{% block content %}
{% include 'monoproduct_head.html' %}


<body>
    
    <div class="nav_container">
        {% include 'navigation.html' %}
    </div>


    <section class="main_screen">
        
        <h2>Cart</h2>
    
        <div class="product_array">
            <table class="responsive-array">
                <thead>
                    <th>Sr</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Subtotal</th>
                    <th>X</th>
                </thead>
                <tbody>
                    {% for key, product in session['Shoppingcart'].items() %}
                    {% set discount = (product.discount/100) * product.price|float %}
                    <tr>
                        <form action="{{url_for('updatecart', code=key)}}" method="POST">
                            
                            <td data-label="Index">{{loop.index}}</td>
                            <td class="productName" data-label="Name">{{product.name}}</td>
                            <td data-label="Image" class="img_container"><img src="{{url_for('static', filename='images/'+product.image)}}", alt="{{product.name}} mechanical watch" width="100", height="150"></td>
                            
                            <td data-label="Color">{{product.color}}</td>
                           
                            <td class="productPrice" data-label="Price">{{product.price}} <span> €</span></td>
                            <td data-label="Quantity">{{product.quantity}}</td>
                            
                            {% if product.discount > 0 %}
                            <td data-label="Discount">{{product.discount}} % is {{discount}}</td>
                            {% else %}
                            <td data-label="Discount">NaN</td>
                            {% endif %}
                            {% set subtotal = product.quantity|int * product.price|float %}
                            <td data-label="Subtotal">{{'%0.2f'|format(subtotal - discount|float)}}</td>
                        </form>
                        <td data-label="Delete"><a href="{{url_for('deleteitem', id=key)}}">X</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <div class="order_container">
                <div class="order_pannel">

                    <div class="order_pannel_header">
                        Delete All
                        <div class="add_cart">
                            <div class="image_container_add">
                                X
                                <div class="add_cart_button" >
                                    <div class="order_pannel_delete" data-label="Delete All">
                                        <a class="delete_link" href="{{url_for('clearcart')}}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="order_pannel_body">
                        <!--<td><a href="/">Shopping</a></td>-->
                        
                        <div id="sub_total" class="order_total line" data-label="HT">HT:{{grandtotal - tax}} €</div>
                        <div class="order_tax line" data-label="TVA">TVA: {{tax}} €</div>
                        <div id="total" class="order_total line" data-label="Total">{{grandtotal}} <span> €</span></div>
                    </div>
                    
                    <div class="order_pannel_footer">
                        
                        <div class="add_cart buy" id="buy">
                            <div class="image_container_add">
                            -->
                                <div class="add_cart_button" >
                                    <div class="order_pannel_buy" data-label="Buy">
                                        <a class="order_link" href="{{url_for('get_order')}}">Buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    

    {% include 'button/smartbutton.html' %}
    



</body>


{% endblock content %}
</html>