<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'  href="{{ url_for('static', filename='css/monoproduct.css') }}">
    <title>MonoProduct</title>
</head>
<body>
    {% include 'navigation.html' %}

    <section class="screen">
        <div id="silver_container" class="product_container hidden silver">
            <div class="product_header">
                <h2 class="product_name">Silver</h2>
            </div>

            <div class="product_image">
                <img src="{{ url_for('static', filename='css/css_images/silver..png') }}" alt="silver watch skull watch brand" class="product">
            </div>
        </div>

        <div id="black_container" class="product_container black">
            <div class="product_header">
                <h2 class="product_name">black</h2>
            </div>

            <div class="product_image">
                <img src="{{ url_for('static', filename='css/css_images/black.png') }}" alt="black watch skull watch brand" class="product">
            </div>
        </div>
        <div class="color_selection_container">
            <button class="color_silver">
                <input type="checkbox" id="silver" class="color_check">
            </button>
            <button class="color_black">
                <input type="checkbox" id="black" class="color_check">
            </button>
            <span id="ball"></span>
        </div>
        <!--
        <div class="add_cart">
            <div class="image_container_add">
                <img id="checkout_icon" src="{{ url_for('static', filename='css/css_images/check-outb.png') }}" alt="">
            </div>
        </div>
        -->

        
    
        {% for product in products.items %}
        <div class="product_card" id="color_to_select_{{product.name}}">
            
            <!--<h2 class="product_title">{{product.name}}</h2>
            {% if product.discount > 0 %}
            <h3 class="product_discount">
               discount  -{{product.discount}}%
            </h3>
            {% endif %}
            <h3 class="product_price">
                {{product.price}} €
            </h3>-->
            <div class="product_card_footer">
                <span class="left">
                    <form action="{{url_for('AddCart')}}" method="POST">
                        <input type="hidden" name="product_id" value="{{product.id}}"  style="visibility: hidden;">
                        
                        <input type="number" name="quantity" id="" value=1 min=1 max={{product.stock}} style="visibility: hidden;">
                        
                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in color %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">
                                {{col[0]|capitalize}}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="add_cart">
                            <div class="image_container_add">
                                <button class="add_cart_button" type="submit"></button>
                                <img id="checkout_icon" src="{{ url_for('static', filename='css/css_images/check-outb.png') }}" alt="">
                            </div>
                        </div>
                    </form>
                </span>
                <span class="right">
                    <a href="{{url_for('single_page', id=product.id)}}">details</a>
                </span>
            </div>

        </div>
        {% endfor %}
   
    </section>

    <section class="product_description_screen">
        <div class="product_description_image">
            <img src="{{ url_for('static', filename='css/css_images/black.png') }}" alt="black watch skull watch brand" class="product">
        </div>
        <div class="product_description_text">
            - Tips: 2 sides buttons is just for decoration <br> no function for this two button <br>
            - WaterProof: 30m <br>
            - diameter: 46mm <br>
            - thickness: 13mm <br>
            - total length: 25cm <br>
            - band-width: 24mm <br>
            - Case material: stainless steel <br>
            - Band material: stainless steel <br>
            - stainless steel metal folding buckle <br>
        </div>
    </section>
    

    <!--https://www.youtube.com/watch?v=60v3PKVjM2Q-->
    <section class="container">
        
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{ url_for('static', filename='css/css_images/black_tuto.png') }}"  alt="" class="card_image">
                    <h2>Step 1</h2>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        1: Pull out the crown <br>
                        2: Screw the stem anti-clockwise to your local time 
                    </p>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{ url_for('static', filename='css/css_images/black_tuto.png') }}" alt="" class="card_image">
                    <h2>Step 2</h2>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        3: Push the crown back to the original place <br>
                        4: The watch can't work when the spring is loose
                    </p>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{ url_for('static', filename='css/css_images/black_tuto.png') }}"  alt="" class="card_image">
                    <h2>Step 3</h2>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        5: Turn the stem clockwise 10~15 turns <br>
                        6: Stop winding if the spring is full otherwise the watch will be broken
                    </p>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{ url_for('static', filename='css/css_images/black_tuto.png') }}" alt="" class="card_image">
                    <h2>Step 4</h2>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                        7: Please wind up your watch before wearing and to keep your wath <br>
                        8: the photo's spring situation is full
                    </p>
                </div>
                
            </div>
        </div>

    </section>
    
    <!--<img src="testingwatch.jpg" alt="">-->
    <div id="clouds">
        <img src="{{ url_for('static', filename='css/css_images/cloud1.png') }}" alt="animation cloud image 1" style="--i:1;">
        <img src="{{ url_for('static', filename='css/css_images/cloud2.png') }}" alt="animation cloud image 1" style="--i:2;">
        <img src="{{ url_for('static', filename='css/css_images/cloud3.png') }}" alt="animation cloud image 1" style="--i:3;">
        <img src="{{ url_for('static', filename='css/css_images/cloud4.png') }}" alt="animation cloud image 1" style="--i:4;">
        <img src="{{ url_for('static', filename='css/css_images/cloud5.png') }}" alt="animation cloud image 1" style="--i:5;">

    </div>
    <script>
        // change site theme if choice is silver or black

        const checkbox_black = document.getElementById('black');
        const checkbox_silver = document.getElementById('silver');
        const silver_product = document.getElementById('silver_container');
        const black_product = document.getElementById('black_container');
        const check_ball = document.getElementById('ball')
        const clouds = document.getElementById('clouds')
        const add_silver_to_cart = document.getElementById('color_to_select_skull1');
        const add_black_to_cart =  document.getElementById('color_to_select_skull2');
        // set black checkbox to true because the default choice is black
        checkbox_black.checked = true;
        // set silver checkbox to false because default choice is black
        checkbox_silver.checked = false;
        add_silver_to_cart.classList.toggle('hidden');

        // silver button clicked
        checkbox_silver.addEventListener('change', ()=>{
            console.log(checkbox_silver.checked)
            // change the body background of the page
            document.body.classList.toggle('light');
            // remove dark mode from the body
            document.body.classList.remove('dark');
            // set the other check box to false
            checkbox_black.checked = false;
            // hide black product container
            black_product.classList.toggle('hidden');
            add_black_to_cart.classList.toggle('hidden');
            // set visible the sivler container
            silver_product.classList.remove('hidden');
            add_silver_to_cart.classList.remove('hidden');
            // remove right class
            check_ball.classList.remove('right');
            // set check ball on silver mode
            check_ball.classList.toggle('left');
            //set clouds to black
            clouds.classList.toggle('silver')
            
        });

        // black button clicked
        checkbox_black.addEventListener('change', ()=>{
            // change the body background of the page
            document.body.classList.toggle('dark');
            // remove light mode from the body
            document.body.classList.remove('light');
            // set the other check box to false
            checkbox_silver.checked = false;
            // hide silver product container
            silver_product.classList.toggle('hidden');
            add_silver_to_cart.classList.toggle('hidden');
            // set visible the black container
            black_product.classList.remove('hidden');
            add_black_to_cart.classList.remove('hidden');
            // remove left class
            check_ball.classList.remove('left');
            // set check ball on silver mode
            check_ball.classList.toggle('right');
            //set clouds to withe
            clouds.classList.remove('silver')
        });
    </script>
    {% include 'footer.html' %}




</body>


{% endblock content %}
</html>