<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
    <h1><strong>Conditions d'utilisation - CGV - 1001-montres.fr</strong></h1>
    <section>
        <article class="container">
            <div class="head">
               <!-- https://www.1001-montres.fr/content/3-conditions-d-utilisation-->
            </div>
            <div class="content">
                <h2><strong>Conditions G&eacute;n&eacute;rales de Vente, </strong>applicables au 02 juillet 2021</h2>
                <h3><strong>Site internet marchand <a href="http://127.0.0.1:5000">SkullWatch</a><br /></strong></h3>
                <p><strong>Pr&eacute;ambule</strong><br />Le site internet <a href="http://127.0.0.1:5000">SkullWatch</a> est la propri&eacute;t&eacute; exclusive de l&rsquo;entreprise d&eacute;sign&eacute;e ci-dessous.</p>
                <p><strong>Identification</strong></p>
            <p><strong>Raison sociale :</strong> U.B.M.B. - S.A.S. au capital de 8000&euro;<br /><strong>Si&egrave;ge social :</strong> 18 bis, rue du Rond Buisson &ndash; ZA de Thise Chalezeule<br /><strong>Code postal :</strong> 25220<br /><strong>Ville :</strong> Thise<br /><strong>Pays :</strong> France<br /><strong>Responsable :</strong> Monsieur Daniel BECHE<br /><strong>Pays :</strong> France<br /><strong>T&eacute;l&eacute;phone :</strong> 03 81 500 505<br /><strong>T&eacute;l&eacute;copie :</strong> 03 81 805 481<br /><strong>Email :</strong> <a href="mailto:contact@1001-montres.fr">contact@1001-montres.fr</a><br /><strong>TVA intra-communautaire :</strong> FR 18331964072<br /><strong>Code APE :</strong> 3212 Z<br /><strong>Siret :</strong> 33196407200028</p>
            </div>  
        </article>
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 1 - Acceptation des conditions</strong></h3>
            </div>
            <div class="content">
                <p>
                    Le client (vous) reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente énoncées ci-après et déclare les accepter sans réserve.
                    Les présentes conditions générales de vente régissent les relations contractuelles entre U.B.M.B (nous) et son client (vous), les deux parties les acceptant sans réserve.
                </p>
            </div>  
        </article>

        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 2 – Commande</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        L’expédition de nos marchandises est effectuée en France métropolitaine, dans les DOM-TOM, les pays de la Communauté Européenne, en Suisse et au Luxembourg.
                    </li>
                    <li>
                        La commande réalisée par le client (vous) est constituée de produits faisant partie du catalogue en ligne constitué par le vendeur (nous).
                    </li>
                    <li>
                        La commande ne peut être enregistrée sur le site que si l'utilisateur s'est clairement identifié et après avoir créé son compte personnel via l’espace client disponible sur le site www.1001-montres.fr.
                        Pour cela, le client est invité à s'identifier en indiquant son nom, son prénom, une adresse e-mail valide, son adresse postale, son numéro de téléphone et sa date de naissance.
                    </li>
                    <li>
                        Toute commande vaut acceptation des prix et description des produits disponibles à la vente.
                    </li>
                    <li>
                        Le vendeur (nous) s’engage à honorer les commandes reçues dans la limite des stocks disponibles des produits présentés à la vente.
                    </li>
                    <li>
                        Les dates des soldes indiquées sur le site sont les dates en vigueur dans la région où se situe le siège social de la société.
                    </li>
                    <li>
                        Les produits gravés ou personnalisés ne sont ni repris ni échangés.
                    </li>
                </ul>
            </div>
        </article>

        <article class="container">
            <h3><strong>Article 3 &ndash; Prix &ndash; Paiement</strong></h3>
            <section class="sub_article">
                <div class="head">
                    <h4>Article 3.1 - Prix</h4>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            Le prix factur&eacute; au client est le prix indiqu&eacute; sur notre site internet <a href="https://www.1001-montres.fr">www.1001-montres.fr</a>.
                        </li>
                        <li>
                            Ce prix s&rsquo;entend toutes taxes comprises (T.T.C). La TVA incluse est la TVA Fran&ccedil;aise en vigueur au jour de la commande. Les prix indiqu&eacute;s sont en &euro; (euros).
                        </li>
                        <li>
                            Le prix des produits propos&eacute;s est payable au comptant le jour de la commande effective.
                        </li>
                        <li>
                            Le paiement peut s&rsquo;effectuer par ch&egrave;que bancaire, par carte(s) bancaire(s), par compte Paypal ou par virement bancaire.
                        </li>
                        <li>
                            Dans le cas du paiement par virement, la commande sera valid&eacute;e &agrave; la r&eacute;ception dudit r&egrave;glement. Dans le cas du paiement par ch&egrave;que, la commande sera exp&eacute;di&eacute;e 15 jours apr&egrave;s l&rsquo;encaissement.
                        </li>
                        <li>
                            La commande valid&eacute;e par le client et par carte(s) bancaire(s) ne sera consid&eacute;r&eacute;e effective que lorsque les centres de paiement bancaire concern&eacute;s auront donn&eacute; leur accord.
                        </li>
                        <li>
                            En cas de refus des dits centres, la commande sera automatiquement annul&eacute;e et le client pr&eacute;venu par courrier &eacute;lectronique (email) ainsi que par affichage sur son &eacute;cran.
                        </li>
                        <li>
                            U.B.M.B pourra modifier ses prix &agrave; tout moment sans pr&eacute;avis. U.B.M.B, se r&eacute;serve le droit de r&eacute;percuter sans d&eacute;lai toute nouvelle taxe ou toute augmentation du taux des taxes existantes.
                        </li>
                        <li>
                            Clause de r&eacute;serve de propri&eacute;t&eacute; : les produits demeurent la propri&eacute;t&eacute; du vendeur jusqu'au complet encaissement du prix.
                        </li>
                    </ul>
                </div>            
            </section>
            
            <section class="sub_article">
                <div class="head">
                    <h4>Article 3.2 – Moyens de paiements</h4>
                    <p>Le règlement de vos commandes peut s’effectuer selon votre pays de résidence par carte bancaire ou par Paypal</p>
                </div>
                <div class="sub_container">
                    <h4>Article 3.2.1 - Paiement Sécurisé par carte(s) bancaire(s)</h4>
                    <ul>
                        <li>
                            Pour la sécurité des transactions nous utilisons le systéme de Paypal.
                        </li>
                        <li>
                            Le N° de la carte et la date d’expiration sont cryptés et transmis à Paypal de façon sécurisée. Les renseignements bancaire que vous fournissez ne nous sont pas communiqués.
                        </li>
                        <li>
                            Vos coordonnées bancaires sont cryptées sur votre ordinateur puis transmises de façon sécurisée jusqu’au serveur de Systempay. Cette procédure est gérée par la technologie de cryptage SSL, l’une des plus utilisées et des plus efficaces au monde.
                        </li>
                        <li>
                            Une fois votre paiement validé, vos données sont détruites et ne restent pas sur le serveur de Systempay. C’est la raison pour laquelle nous vous redemandons à chaque nouvelle commande votre numéro de carte bancaire
                        </li>
                        <li>
                            Cartes bancaires acceptées : CB, e-carte bleue, Maestro, Mastercard, Visa
                        </li>
                    </ul>
                </div>
                <div class="sub_container">
                    <h4>Article 3.2.2 - Paiement par compte Paypal</h4>
                    <ul>
                        <li>
                            <a href="https://www.1001-montres.fr">www.1001-montres.fr</a> vous offre la possibilité de payer vos achats avec votre compte Paypal. Payez en quelques clics sans partager vos coordonnées bancaires. Pour cela, utilisez simplement votre adresse email et votre mot de passe PayPal en suivant le processus de commande habituel.
                        </li>
                    </ul>
                </div>
                <div class="sub_container">
                    <h4>Article 3.2.3 – Paiement en plusieurs fois avec Paypal.</h4>
                    <ul>
                        <li>
                            <p>
                                Si vous payez votre commande en plusieurs fois, vous acceptez les 
                                <a href="https://getalma.eu/legal/terms/customer/merchant_11lz1SC26i1v6ijvIgOi4gUms4agm10lJV" target="_blank">conditions g&eacute;n&eacute;rales client d'Alma</a> 
                                ainsi que les 
                                <a href="https://getalma.eu/legal/terms/customer/merchant_11lz1SC26i1v6ijvIgOi4gUms4agm10lJV#specific-tos" target="_blank">
                                    conditions particulières Alma pour les clients de 1001-montres.fr.
                                </a>.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        
        </article>

        <article class="container">
            <h3>
                <strong>Article 4 &ndash; Livraison &ndash; Participation aux frais de port</strong>
            </h3>
            <section class="sub_article">
                <div class="head">
                    
                    </div>
                <div class="sub_container">
                    <div class="head">
                        <h4>Article 4.1 - Livraison en France Métropolitaine et Corse</h4>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                Les produits commandés sont généralement expédiés dans les 48h qui suivent la réception de votre paiement. Dans le cas où un produit est à commander (produit non en stock), le délai d’expédition est de 2 à 15 jours ouvrables. Vous serez informé dans le processus de commande de la date estimée d’expédition
                            </li>
                            <li>
                                Dès la prise en charge par le réseau de la Poste, les délais d'acheminement annoncés par la Poste sont de 48 heures et les colis sont livrés par votre facteur habituel.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_container">
                    <div class="head">
                        <h4>Article 4.2 – Livraison dans la Communauté Européenne</h4>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                En général, les produits commandés sont livrés à l'adresse indiquée par le client dans un délai de 4 à 5 jours à partir de la prise en charge du colis par la Poste. Vous serez informé dans le processus de commande de la date estimée d’expédition
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_container">
                    <div class="head">
                        <h4>Article 4.3 - Livraison pour l’étranger et les DOM-TOM</h4>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                En général, les produits commandés sont livrés à l'adresse indiquée par le client dans un délai de 5 à 7 jours à partir de la prise en charge du colis par la Poste. Vous serez informé dans le processus de commande de la date estimée d’expédition.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub_container">
                    <div class="head">
                        <h4>Article 4.4 – Mode d’envoi des colis</h4>
                        
                    </div>
                    <div class="content">
                        <ul>
                            <p>
                                En fonction de la destination, du prix des marchandises transportées et du choix fait par le client (vous), nous expédions toutes nos marchandises avec le service de la Poste
                            </p>
                            <li>
                                soit en courrier suivi
                            </li>
                            <li>
                                soit en colissimo en points de retrait
                            </li>
                            <li>
                                soit en colissimo recommandé suivi
                            </li>
                            <li>
                                soit en valeur déclarée sécurisée pour les envois plus importants
                            </li>
                        </ul>

                        <ul>
                            <p>
                                Grâce à notre partenaire la poste, toutes vos commandes bénéficient donc :
                            </p>
                            <li>
                                de la traçabilité de votre colis
                            </li>
                            <li>
                                de la logistique d'un réseau de dépôt et de livraison incomparable
                            </li>
                            <li>
                                de l'engagement de la poste sur les délais d'acheminement
                            </li>
                            <li>
                                du suivi de votre commande sur : <a href="https://www.laposte.fr/outils/suivre-vos-envois">https://www.laposte.fr/outils/suivre-vos-envois</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sub_container">
                    <div class="head">
                        <h4>Article 4.5 – Participation aux frais de port</h4>
                    </div>
                    <div class="content">
                        <ul>
                            <p>
                                La livraison en France métropolitaine (Principauté de Monaco et Corse incluses) vous est offerte.
                            </p>
                            <p>
                                Sont exclus de la livraison offerte, les frais concernant les prestations suivantes :
                            </p>
                            <li>
                                Chronopost : la France métropolitaine, l’International, les pays hors Union Européenne, l’Outre-mer et la Suisse
                            </li>
                            <li>
                                Colissimo International : les pays hors Union Européenne, l’Outre-mer et la Suisse
                            </li>
                        </ul>
                        <p>
                            Les frais supplémentaires de ces prestations sont facturés en sus. Leurs montants respectifs sont disponibles sur le site internet. Ils sont également affichés lors du processus de commande utilisable sur le site internet <a href="https://www.1001-montres.fr">www.1001-montres.fr</a> et ce, avant la validation finale de la dite commande.
                        </p>
                    </div>
                </div>
            </section>
        </article>
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 5 - Droit de rétractation</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Conformément à l’article L. 121-21 du code de la consommation, celui-ci prévoit un droit de rétractation de quatorze (14) jours à compter de la livraison du <strong>SkullWatch</strong> étends ce droit à trente (30) jours. Ainsi, lorsque le client exerce cette faculté, il le fait «sans avoir à justifier de motifs, ni à payer de pénalités, à l'exception, le cas échéant, des frais de retour».
                    </li>
                    <li>
                        L’article L. 121-21-4 précise que lorsque le droit de rétractation est exercé, le professionnel est tenu de rembourser le consommateur de la totalité des sommes versées, dans les meilleurs délais et au plus tard dans les quatorze (14) jours suivant la date à laquelle ce droit a été exercé ou à compter de la réception du produit en retour. Au-delà, la somme due est, de plein droit, productive d'intérêts au taux légal en vigueur.
                    </li>
                    <li>
                        Dans ce cadre U.B.M.B (nous) effectuera ce remboursement par le même moyen de paiement utilisé par le client (vous) lors de l’édition de la commande concernée, dans le strict respect de la loi en vigueur.
                    </li>
                    <li>
                        <ul>
                            Il est à noter que le droit de rétractation ne s’applique pas sur les articles gravés ou personnalisés à la demande du client (vous).
                            <li>
                                Pour exercer votre droit de rétractation vous pouvez utiliser le 
                                <a href="https://www.1001-montres.fr/pdf/Formulaire-Retractation.pdf">formulaire de rétractation qui vous est proposé en téléchargement ici</a> 
                                ou nous envoyer un courrier à l’adresse suivante :
                            </li>
                            <li>
                                U.B.M.B
                            </li>
                            <li>
                                B.P. 855
                            </li>
                            <li>
                                25025 Besançon Cedex
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </article>

        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 6 - S.A.V (Service Après-Vente)</strong></h3>
            </div>
            <div class="content">
                <p>
                    L’entreprise U.B.M.B emploie du personnel qualifié. Tous nos professionnels sont à votre disposition pour réaliser les éventuels réglages ou réparations concernant les produits que nous proposons à la vente via le site <a href="https://www.1001-montres.fr">www.1001-montres.fr</a>.
                </p>
                <section class="sub_article">
                    <div class="head">
                        <h4>Article 6.1 - Produit sous garantie</h4>
                    </div>
                    <div class="content">
                        
                        <ul>
                            <li>
                                Pour bénéficier de notre service après-vente, merci de retourner votre produit avec son certificat et sa facture, en mentionnant la nature de la réparation.
                            </li>
                            <li>
                                Pour des raisons de sécurité, nous vous conseillons fortement de nous faire parvenir les marchandises retournées par voie postale, sous pli confidentiel, discret et en courrier recommandé avec accusé réception (avec éventuellement avec une assurance pour les produits de valeur importante).
                            </li>
                            <li>
                                Pour toutes nos réparations, un devis gratuit vous sera établi sur simple demande dès réception de votre envoi par notre équipe. Vous disposez d’un délai de 30 jours à compter de la date de réception de votre envoi pour nous le retourner avec votre accord.
                            </li>
                            <li>
                                Nos réparations et services divers sont garantis six mois (pièces et main d'œuvre) dans la limite d'une utilisation normale.
                            </li>
                        </ul>
                    </div>            
                </section>
                <section class="sub_article">
                    <div class="head">
                        <h4>Article 6.2 - Produit hors garantie</h4>
                    </div>
                    <div class="content">
                        <p>
                            Merci de nous contacter par :
                        </p>
                        <ul>
                            <li>
                                e-mail : contact@1001-montres.fr
                            </li>
                            <li>
                                par téléphone : 03 81 500 505
                            </li>
                        </ul>
                    </div>            
                </section>

            </div>
        </article>
        
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 7 – Garantie – Garantie légale</strong></h3>
            </div>
            <section class="sub_article">
                <div class="head">
                    <h4>Article 7.1 – Garantie constructeur</h4>
                </div>
                <div class="content">
                    <p>
                        Toutes les montres présentées sur le site www.1001-montres.fr bénéficient des « garanties constructeur ».
                    </p>
                    <p>
                        En règle générales et dans le cadre d’une utilisation normale, la « garantie constructeur » ne couvre pas :
                    </p>
                    <ul>
                        <li>
                            le remplacement des consommables : piles, bracelets de montre…
                        </li>
                        <li>
                            l’utilisation anormale ou non conforme de la montre
                        </li>
                        <li>
                            les dommages dus à l’intervention d’un réparateur non agréé par le constructeur
                        </li>
                        <li>
                            les dommages résultant d’une cause externe au produit : choc, immersion…
                        </li>
                    </ul>
                    <p>
                        Dans tous ces cas, U.B.M.B. = ZocainCorp ne saurait être tenu pour responsable en cas de refus du constructeur d’appliquer sa garantie.
                    </p>
                    <p>
                        Durée de la garantie : la durée de cette «garantie constructeur» est variable selon les marques. Celle-ci est à consulter attentivement sur le mode d’emploi ou sur le certificat de garantie fourni avec la montre. Nous vous invitons à lire attentivement les termes exacts mentionnées sur les documents fournis par le constructeur.
                    </p>
                </div>            
            </section>
            <section class="sub_article">
                <div class="head">
                    <h4>7.2 – Garantie légale de conformité</h4>
                </div>
                <div class="content">
                    
                    <p>
                        Extraits du Code de la consommation
                    </p>
                    <p>
                        Le vendeur reste tenu des défauts de conformité du bien vendu conformément aux articles L. 211-4 et suivants du Code de la Consommation. Les textes de ces articles sont consultables sur internet à l’adresse : <a href="https://www.legifrance.gouv.fr/">https://www.legifrance.gouv.fr/</a>
                    </p>
                    <ul>
                        <li>
                            <strong>Art. L. 211-4.</strong> du Code de la Consommation (extrait du Code de la consommation) "Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité."
                        </li>
                        <li>
                            Art. L. 211-5. du Code de la Consommation (extrait du Code de la consommation) "Pour être conforme au contrat, le bien doit :
                            <ul>
                                <li>
                                    Être propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant : correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ; présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
                                </li>
                                <li>
                                    Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Art. L. 211-12. du Code de la Consommation (extrait du Code de la consommation) "L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien."
                        </li>
                    </ul>
                </div>            
            </section>
            <section class="sub_article">
                <div class="head">
                    <h4>7.3 - Garantie Légale</h4>
                </div>
                <div class="content">
                    <p>
                        Extraits du Code civil
                    </p>
                    <p>
                        Il reste également tenu à la garantie légale des vices cachés des articles 1641 et 1648 du Code Civil pour laquelle vous disposez aussi d’un recours direct contre le vendeur.
                    </p>
                    <ul>
                        <p>
                            De la garantie des défauts de la chose vendue (extrait du Code civil)
                        </p>
                        <li>
                            Art. 1641. du Code civil (extrait du Code civil) "Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rende impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus."
                        </li>
                        <li>
                            Art. 1648 - alinéa 1er du Code civil (extrait du Code civil) "L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice."
                        </li>
                    </ul>
                    <p>
                        En regard de la loi U.B.M.B vous invite pour l'application des garanties légales, à nous faire parvenir un courrier par voie postale à l’adresse suivante :
                    </p>
                    <ul>
                        <li>
                            U.B.M.B
                        </li>
                        <li>
                            B.P. 855
                        </li>
                        <li>
                            25025 Besançon Cedex
                        </li>
                        <li>
                            France
                        </li>
                    </ul>
                </div>            
            </section>
            
            <section class="sub_article">
                <div class="head">
                    <h4>7.4 - Garantie de conformité</h4>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            Dans le cadre de la garantie légale de conformité, vous disposez de deux (2) ans à compter de la délivrance du bien pour agir. Vous avez la possibilité de choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l’article L.211-9 du code de la consommation. Vous êtes dispensés de rapporter la preuve de l’existence du défaut de conformité du bien durant les six (6) mois suivant la délivrance du bien. Ce délai est porté à vingt-quatre (24) mois à compter du 18 mars 201
                        </li>
                    </ul>
                </div>            
            </section>
        </article>
        <article class="container">
            
        </article>

        <article class="container">
            
        </article>
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 8 – Litiges</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Le présent contrat est soumis au droit français et en langue Française. U.B.M.B. ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu’immatériels ou corporels, qui pourraient résulter d’une mauvaise utilisation des produits commercialisés.
                    </li>
                    <li>
                        La responsabilité d’U.B.M.B. sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits.
                    </li>
                    <li>
                        En cas de difficultés dans l’application du présent contrat, l’acheteur a la possibilité, avant toute action en justice, de rechercher une solution amiable notamment avec l’aide :
                        <ul>
                            <li>
                                d’une association professionnelle de la branche
                            </li>
                            <li>
                                ou de tout autre conseil de son choix
                            </li>
                        </ul>
                    </li>
                    <li>
                        Il est rappelé que la recherche de la solution amiable n’interrompt pas le «bref délai» de la garantie légale, ni la durée de la garantie contractuelle. Il est rappelé qu’en règle générale et sous réserve de l’appréciation des Tribunaux, le respect des dispositions du présent contrat relatives à la garantie contractuelle suppose que l’acheteur honore ses engagements financiers envers le vendeur.
                    </li>
                    <li>
                        Les réclamations ou contestations seront toujours reçues avec bienveillance attentive, la bonne foi étant toujours présumée chez celui qui prend la peine d’exposer ses situations.
                    </li>
                    <li>
                        En cas de litige, le client s’adressera par priorité à l’entreprise pour obtenir une solution amiable. A défaut, le litige sera porté devant l’une des juridictions territoriales compétentes en vertu du code de procédure civile, la juridiction du lieu où vous demeuriez au moment de la conclusion du contrat ou de la survenance du fait dommageable à votre choix conformément à l’article L 141-5 du code de la consommation.
                    </li>
                </ul>
            </div>
        </article>
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 9 - Informations légales</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement des commandes, l’établissement des factures.
                    </li>
                    <li>
                        Le défaut de renseignement entraîne la non validation de la commande. Conformément à la loi «Informatique et Libertés», le traitement des informations nominatives relatives aux clients a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) sous le numéro d'enregistrement : <strong>GDQ0555819K</strong>.
                    </li>
                    <li>
                        Le client dispose (article 34 de la loi du 6 janvier 1978) d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent, qu’il peut exercer auprès d’U.B.M.B.
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        Pour faire valoir ce droit le client peut :
                        <ul>
                            <li>
                                soit en faire la demande par e-mail en utilisant la messagerie disponible sur le site internet <a href="www.1001-montres.fr">www.1001-montres.fr</a>
                            </li>
                            <li>
                                soit en faire la demande par simple courrier adressé à cette adresse postale 
                                <ul>
                                    <li>
                                        U.B.M.B
                                    </li>
                                    <li>
                                        B.P. 855
                                    </li>
                                    <li>
                                        25025 Besançon Cedex
                                    </li>
                                    <li>
                                        France
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        De plus, U.B.M.B s’engage à ne pas communiquer, gratuitement ou avec contrepartie, les coordonnées de ses clients à un tiers.
                    </li>
                </ul>
            </div>
        </article>
        
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 10 –Propriété intellectuelle</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Tous les visuels affichés sur <a href="https://www.1001-montres.fr">www.1001-montres.fr</a> sont protégés par les droits de propriété intellectuelle en vigueur. Ils sont soit la propriété d’U.B.M.B soit la propriété des différentes marques commerciales présentées.
                    </li>
                    <li>
                        Toute utilisation et reproduction en totalité ou en partie et sur quelque support que ce soit, est interdite et pénalement sanctionnée, notamment au titre de la contrefaçon
                    </li>
                </ul>
            </div>
        </article>
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 11 – Responsabilités</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Les produits proposés à la vente sont conformes à la législation française en vigueur. Il appartient au client (vous) de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou services que le client envisage de commander.
                    </li>
                    <li>
                        Les photos sont diffusées à titre d’illustration. Le vendeur invite le client à se reporter au descriptif de chaque produit pour en connaître les caractéristiques précises.
                    </li>
                    <li>
                        Responsabilité du client - Le Client doit maintenir une adresse e-mail et une adresse postale valide. Les informations seront mises à jour par U.B.M.B à la demande du client.
                    </li>
                </ul>
            </div>
        </article>
        <article class="container">
            <div class="head">
                <h3><br /><strong>Article 12 – Cookies</strong></h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Ce site recourt à l'usage de cookies. Pour en savoir plus, veuillez consulter la page  <a href="https://www.1001-montres.fr/content/24-cookies">Cookies</a>.
                    </li>
                </ul>
            </div>
        </article>
    </section>
</html>