<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
   
    <section class="legality">
        <article class="container_shop_detail">
            <div class="head">
                
                
               <!-- https://www.1001-montres.fr/content/3-conditions-d-utilisation-->
            </div>
        </article>
        <div class="legal_bar">
            <div class="title">
                <h1><strong>Conditions d'utilisation - CGV - SkullWatch</strong></h1>
            </div>
            <div class="text">
                <a href="127.0.0.1">SkullWatch</a>
            </div>
            <ul>
                <li id="article_0">
                    <h3>
                        <strong>
                            Article 0: <strong>Identification</strong>
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_0_content">
                        <li>
                            <strong>Préambulee</strong><br />Le site internet <a href="http://127.0.0.1:5000">SkullWatch</a>  est la propriété exclusive de l’entreprise désignée ci-dessous.
                        </li>
                        <li>
                            <strong>Raison sociale :</strong> ZocainCorp - S.A.S. au capital de 50 euro
                        </li>
                        <li>
                            <²strong>Siège socia :</strong> 18 bis, rue du Rond Buisson – ZA de Thise Chalezeuleule
                        </li>
                        <li>
                            <strong>Code postal :</strong> 25220
                        </li>
                        <li>
                            <strong>Ville :</strong> Thise
                        </li>
                        <li>
                            <strong>Pays :</strong> France
                        </li>
                        <li>
                            <strong>Responsable :</strong> Monsieur Daniel BECHE
                        </li>
                        <li>
                            <strong>Pays :</strong> France
                        </li>
                        <li>
                            <strong>Téléphone :</strong> 03 81 500 505
                        </li>
                        <li>
                            <strong>Télécopie :</strong> 03 81 805 481
                        </li>
                        <li>
                            <strong>Email :</strong> <a href="mailto:contact@1001-montres.fr">contact@1001-montres.fr</a>
                        </li>
                        <li>
                            <strong>TVA intra-communautaire :</strong> FR 18331964072
                        </li>
                        <li>
                            <strong>Code APE :</strong> 3212 Z
                        </li>
                        <li>
                            <strong>Siret :</strong> 33196407200028
                        </li>
                    </ul>
                </li>
                <li id="article_1">
                    <h3>
                        <strong>
                            Article 1: Acceptation des conditions
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_1_content">
                        <li>
                            Le client (vous) reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente énoncées ci-après et déclare les accepter sans réserve.
                            Les présentes conditions générales de vente régissent les relations contractuelles entre U.B.M.B (nous) et son client (vous), les deux parties les acceptant sans réserve.
                        </li>
                    </ul>
                </li>
                <li id="article_2">
                    <h3>
                        <strong>
                            Article 2: Commande
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_2_content">
                        <li>
                            Le client (vous) reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente énoncées ci-après et déclare les accepter sans réserve.
                            Les présentes conditions générales de vente régissent les relations contractuelles entre ZocainCorp (nous) et son client (vous), les deux parties les acceptant sans réserve.
                        </li>
                    </ul>
                </li>
                <li id="article_3">
                    <h3>
                        <strong>
                            Article 3 : Prix – Paiement
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    
                    <ul id="article_3_content">
                        
                        <li id="article_3_1">
                            <h4>Article 3.1 : Prix</h4>
                            <span class="fas fa-carret-down more">+</span>
                            <span class="fas fa-carret-up less">-</span>
                            <ul id="article_3_1_content">
                                <li>
                                    Le prix facturé au client est le prix indiqué sur notre site internet <a href="127.0.0.1:5000">SkullWatch</a>.
                                </li>
                                <li>
                                    Ce prix s’entend toutes taxes comprises (T.T.C). La TVA incluse est la TVA Française en vigueur au jour de la commande. Les prix indiqués sont en € (euros)
                                </li>
                                <li>
                                    Le prix des produits proposés est payable au comptant le jour de la commande effective. 
                                </li>
                                <li>
                                    Le paiement peut s’effectuer par chèque bancaire, par carte(s) bancaire(s) ou par compte Paypal. 
                                </li>
                                <li>
                                    Dans le cas du paiement par virement, la commande sera validée à la réception dudit règlement. Dans le cas du paiement par chèque, la commande sera expédiée 15 jours après l’encaissement. 
                                </li>
                                <li>
                                    La commande validée par le client et par carte(s) bancaire(s) ne sera considérée effective que lorsque les centres de paiement bancaire concernés auront donné leur accord. 
                                </li>
                                <li>
                                    En cas de refus des dits centres, la commande sera automatiquement annulée et le client prévenu par courrier électronique (email) ainsi que par affichage sur son écran.
                                </li>
                                <li>
                                    U.B.M.B pourra modifier ses prix à tout moment sans préavis. U.B.M.B, se réserve le droit de répercuter sans délai toute nouvelle taxe ou toute augmentation du taux des taxes existantes
                                </li>
                                <li>
                                    Clause de réserve de propriété : les produits demeurent la propriété du vendeur jusqu'au complet encaissement du prix. 
                                </li>
                            </ul>
                        </li>
                        <li id="article_3_2">
                            <h4>Article 3.2 : Moyens de paiements</h4>
                            <span class="fas fa-carret-down more">+</span>
                            <span class="fas fa-carret-up less">-</span>

                            <ul id="article_3_2_content">
                                <li id="article_3_2_1">
                                    <h4>Article 3.2.1 - Paiement Sécurisé par carte(s) bancaire(s)</h4>
                                    <span class="fas fa-carret-down more">+</span>
                                    <span class="fas fa-carret-up less">-</span>
                                    <ul id="article_3_2_1_content">
                                        <li>
                                            Pour la sécurité des transactions nous utilisons le systéme de Paypal.
                                        </li>
                                        <li>
                                            Le N° de la carte et la date d’expiration sont cryptés et transmis à Paypal de façon sécurisée. Les renseignements bancaire que vous fournissez ne nous sont pas communiqués.
                                        </li>
                                        <li>
                                            Vos coordonnées bancaires sont cryptées sur votre ordinateur puis transmises de façon sécurisée jusqu’au serveur de Systempay. Cette procédure est gérée par la technologie de cryptage SSL, l’une des plus utilisées et des plus efficaces au monde.
                                        </li>
                                        <li>
                                            Une fois votre paiement validé, vos données sont détruites et ne restent pas sur le serveur de Systempay. C’est la raison pour laquelle nous vous redemandons à chaque nouvelle commande votre numéro de carte bancaire
                                        </li>
                                        <li>
                                            Cartes bancaires acceptées : CB, e-carte bleue, Maestro, Mastercard, Visa
                                        </li>
                                    </ul>
                                </li>
                                <li id="article_3_2_2">
                                    <h4>Article 3.2.2 - Paiement par compte Paypal</h4>
                                    <span class="fas fa-carret-down more">+</span>
                                    <span class="fas fa-carret-up less">-</span>
                                    <ul id="article_3_2_2_content">
                                        <li>
                                            <a href="https://www.1001-montres.fr">www.1001-montres.fr</a> vous offre la possibilité de payer vos achats avec votre compte Paypal. Payez en quelques clics sans partager vos coordonnées bancaires. Pour cela, utilisez simplement votre adresse email et votre mot de passe PayPal en suivant le processus de commande habituel.
                                        </li>
                                    </ul>
                                </li>
                                <li id="article_3_2_3">
                                    <h4>Article 3.2.3 – Paiement en plusieurs fois avec Paypal.</h4>
                                    <span class="fas fa-carret-down more">+</span>
                                    <span class="fas fa-carret-up less">-</span>
                                    <ul id="article_3_2_3_content">
                                        <li>
                                            <p>
                                                Si vous payez votre commande en plusieurs fois, vous acceptez les 
                                                <a href="https://getalma.eu/legal/terms/customer/merchant_11lz1SC26i1v6ijvIgOi4gUms4agm10lJV" target="_blank">conditions g&eacute;n&eacute;rales client d'Alma</a> 
                                                ainsi que les 
                                                <a href="https://getalma.eu/legal/terms/customer/merchant_11lz1SC26i1v6ijvIgOi4gUms4agm10lJV#specific-tos" target="_blank">
                                                    conditions particulières Alma pour les clients de 1001-montres.fr.
                                                </a>.
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    <!--<p>Le règlement de vos commandes peut s’effectuer selon votre pays de résidence: 
                        <br>par carte bancaire
                        <br> par Paypal
                    </p>-->
                </li>
                <li id="article_4">
                    <h3>
                        <strong>
                            Article 4 : Livraison – Participation aux frais de port
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_4_content">
                        <li id="article_4_1">
                            <h4>Article 4.1 - Livraison en France Métropolitaine et Corse</h4>
                            <span class="fas fa-carret-down more">+</span>
                            <span class="fas fa-carret-up less">-</span>
                            <ul id="article_4_1_content">
                                <li>
                                    Les produits commandés sont généralement expédiés dans les 48h qui suivent la réception de votre paiement. Dans le cas où un produit est à commander (produit non en stock), le délai d’expédition est de 2 à 15 jours ouvrables. Vous serez informé dans le processus de commande de la date estimée d’expédition
                                </li>
                                <li>
                                    Dès la prise en charge par le réseau de la Poste, les délais d'acheminement annoncés par la Poste sont de 48 heures et les colis sont livrés par votre facteur habituel.
                                </li>
                            </ul>
                        </li>
                        <li id="article_4_2">
                            <h4>Article 4.2 – Livraison dans la Communauté Européenne</h4>
                            <span class="fas fa-carret-down more">+</span>
                            <span class="fas fa-carret-up less">-</span>
                            <ul id="article_4_2_content">
                                <li>
                                    En général, les produits commandés sont livrés à l'adresse indiquée par le client dans un délai de 4 à 5 jours à partir de la prise en charge du colis par la Poste. Vous serez informé dans le processus de commande de la date estimée d’expédition.
                                </li>
                            </ul>
                        </li>
                        <li id="article_4_3">
                            <h4>Article 4.3 - Livraison pour l’étranger et les DOM-TOM</h4>
                            <span class="fas fa-carret-down more">+</span>
                            <span class="fas fa-carret-up less">-</span>
                            <ul id="article_4_3_content">
                                <li>
                                    En général, les produits commandés sont livrés à l'adresse indiquée par le client dans un délai de 5 à 7 jours à partir de la prise en charge du colis par la Poste. Vous serez informé dans le processus de commande de la date estimée d’expédition.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="article_5">
                    <h3>
                        <strong>
                            Article 5 - Droit de rétractation
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_5_content">
                        <li>
                            Conformément à l’article L. 121-21 du code de la consommation, celui-ci prévoit un droit de rétractation de quatorze (14) jours à compter de la livraison du <strong>SkullWatch</strong> étends ce droit à trente (30) jours. Ainsi, lorsque le client exerce cette faculté, il le fait «sans avoir à justifier de motifs, ni à payer de pénalités, à l'exception, le cas échéant, des frais de retour».
                        </li>
                        <li>
                            L’article L. 121-21-4 précise que lorsque le droit de rétractation est exercé, le professionnel est tenu de rembourser le consommateur de la totalité des sommes versées, dans les meilleurs délais et au plus tard dans les quatorze (14) jours suivant la date à laquelle ce droit a été exercé ou à compter de la réception du produit en retour. Au-delà, la somme due est, de plein droit, productive d'intérêts au taux légal en vigueur.
                        </li>
                        <li>
                            Dans ce cadre U.B.M.B (nous) effectuera ce remboursement par le même moyen de paiement utilisé par le client (vous) lors de l’édition de la commande concernée, dans le strict respect de la loi en vigueur.
                        </li>
                        <li>
                            <ul>
                                Il est à noter que le droit de rétractation ne s’applique pas sur les articles gravés ou personnalisés à la demande du client (vous).
                                <li>
                                    Pour exercer votre droit de rétractation vous pouvez utiliser le 
                                    <a href="https://www.1001-montres.fr/pdf/Formulaire-Retractation.pdf">formulaire de rétractation qui vous est proposé en téléchargement ici</a> 
                                    ou nous envoyer un courrier à l’adresse suivante :
                                </li>
                                <li>
                                    U.B.M.B
                                </li>
                                <li>
                                    B.P. 855
                                </li>
                                <li>
                                    25025 Besançon Cedex
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="article_6">
                    <h3>
                        <strong>
                            Article 6 - S.A.V (Service Après-Vente)
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    
                    <ul id="article_6_content">
                        <li id="article_6_1">
                            <h4>Article 6.1 : Produit sous garantie</h4>
                            <ul id="article_6_1_content">
                                
                                <p>
                                    L’entreprise ZocainCorp emploie du personnel qualifié. Tous nos professionnels sont à votre disposition pour réaliser les éventuels réglages ou réparations concernant les produits que nous proposons à la vente via le site <a href="127.0.0.1">SkullWatch</a>.
                                </p>
                                <li>
                                    Pour bénéficier de notre service après-vente, merci de retourner votre produit avec son certificat et sa facture, en mentionnant la nature de la réparation.
                                </li>
                                <li>
                                    Pour des raisons de sécurité, nous vous conseillons fortement de nous faire parvenir les marchandises retournées par voie postale, sous pli confidentiel, discret et en courrier recommandé avec accusé réception (avec éventuellement avec une assurance pour les produits de valeur importante).
                                </li>
                                <li>
                                    Pour toutes nos réparations, un devis gratuit vous sera établi sur simple demande dès réception de votre envoi par notre équipe. Vous disposez d’un délai de 30 jours à compter de la date de réception de votre envoi pour nous le retourner avec votre accord.
                                </li>
                                <li>
                                    Nos réparations et services divers sont garantis six mois (pièces et main d'œuvre) dans la limite d'une utilisation normale.
                                </li>
                            </ul>
                        </li>
                        <li id="article_6_2">
                            <h4>Article 6.2 - Produit hors garantie</h4>
                            
                            <ul id="article_6_2_content">
                                <p>
                                    Merci de nous contacter par :
                                </p>
                                <li>
                                    e-mail : contact@1001-montres.fr
                                </li>
                                <li>
                                    par téléphone : 03 81 500 505
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="article_7">
                    <h3>
                        <strong>
                            Article 7 – Garantie – Garantie légale
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_7_content">
                        <li id="article_7_1">
                            <h4>Article : 7.1 – Garantie constructeur</h4>
                            
                            <ul id="article_7_1_content">
                                <p>
                                    Toutes les montres présentées sur le site SkullWatch bénéficient des « garanties constructeur ».
                                </p>
                                <p>
                                    En règle générales et dans le cadre d’une utilisation normale, la « garantie constructeur » ne couvre pas :
                                </p>
                                <li>
                                    le remplacement des consommables : piles, bracelets de montre…
                                </li>
                                <li>
                                    l’utilisation anormale ou non conforme de la montre
                                </li>
                                <li>
                                    les dommages dus à l’intervention d’un réparateur non agréé par le constructeur
                                </li>
                                <li>
                                    les dommages résultant d’une cause externe au produit : choc, immersion…
                                </li>
                                <p>
                                    Dans tous ces cas, ZocainCorp ne saurait être tenu pour responsable en cas de refus du constructeur d’appliquer sa garantie.
                                </p>
                                <p>
                                    Durée de la garantie : la durée de cette «garantie constructeur» est variable selon les marques. Celle-ci est à consulter attentivement sur le mode d’emploi ou sur le certificat de garantie fourni avec la montre. Nous vous invitons à lire attentivement les termes exacts mentionnées sur les documents fournis par le constructeur.
                                </p>
                            </ul>
                            
                        </li>
                        <li id="article_7_2">
                            <h4>Article : 7.2 – Garantie légale de conformité</h4>
                            
                            <ul id="article_7_2_content">
                                <p>
                                    Extraits du Code de la consommation
                                </p>
                                <p>
                                    Le vendeur reste tenu des défauts de conformité du bien vendu conformément aux articles L. 211-4 et suivants du Code de la Consommation. Les textes de ces articles sont consultables sur internet à l’adresse : <a href="https://www.legifrance.gouv.fr/">https://www.legifrance.gouv.fr/</a>
                                </p>
                                <li>
                                    <strong>Art. L. 211-4.</strong> du Code de la Consommation (extrait du Code de la consommation) "Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité."
                                </li>
                                <li>
                                    Art. L. 211-5. du Code de la Consommation (extrait du Code de la consommation) "Pour être conforme au contrat, le bien doit :
                                    <ul>
                                        <li>
                                            Être propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant : correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ; présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
                                        </li>
                                        <li>
                                            Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Art. L. 211-12. du Code de la Consommation (extrait du Code de la consommation) "L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien."
                                </li>
                            </ul>
                        </li>
                        <li id="article_7_3">
                            <h4>Article : 7.3 - Garantie Légale</h4>
                        
                        <ul id="article_7_3_content">
                            <p>
                                Extraits du Code civil
                            </p>
                            <p>
                                Il reste également tenu à la garantie légale des vices cachés des articles 1641 et 1648 du Code Civil pour laquelle vous disposez aussi d’un recours direct contre le vendeur.
                            </p>
                            <p>
                                De la garantie des défauts de la chose vendue (extrait du Code civil)
                            </p>
                            <li>
                                Art. 1641. du Code civil (extrait du Code civil) "Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rende impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus."
                            </li>
                            <li>
                                Art. 1648 - alinéa 1er du Code civil (extrait du Code civil) "L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice."
                            </li>
                        
                            <p>
                                En regard de la loi ZocainCorp vous invite pour l'application des garanties légales, à nous faire parvenir un courrier par voie postale à l’adresse suivante :
                            </p>
                        
                            <li>
                                ZocainCorp
                            </li>
                            <li>
                                B.P. 855
                            </li>
                            <li>
                                25025 Besançon Cedex
                            </li>
                            <li>
                                France
                            </li>
                        </ul>
                        </li>
                        <li id="article_7_4">
                            <h4>Article : 7.4 - Garantie de conformité</h4>
                            <ul id="article_7_4_content">
                                <li>
                                    Dans le cadre de la garantie légale de conformité, vous disposez de deux (2) ans à compter de la délivrance du bien pour agir. Vous avez la possibilité de choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l’article L.211-9 du code de la consommation. Vous êtes dispensés de rapporter la preuve de l’existence du défaut de conformité du bien durant les six (6) mois suivant la délivrance du bien. Ce délai est porté à vingt-quatre (24) mois à compter du 18 mars 201
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="article_8">
                    <h3>
                        <strong>
                            Article 8 – Litiges
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_8_content">
                        <li>
                            Le présent contrat est soumis au droit français et en langue Française. U.B.M.B. ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu’immatériels ou corporels, qui pourraient résulter d’une mauvaise utilisation des produits commercialisés.
                        </li>
                        <li>
                            La responsabilité d’U.B.M.B. sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits.
                        </li>
                        <li>
                            En cas de difficultés dans l’application du présent contrat, l’acheteur a la possibilité, avant toute action en justice, de rechercher une solution amiable notamment avec l’aide :
                            <ul>
                                <li>
                                    d’une association professionnelle de la branche
                                </li>
                                <li>
                                    ou de tout autre conseil de son choix
                                </li>
                            </ul>
                        </li>
                        <li>
                            Il est rappelé que la recherche de la solution amiable n’interrompt pas le «bref délai» de la garantie légale, ni la durée de la garantie contractuelle. Il est rappelé qu’en règle générale et sous réserve de l’appréciation des Tribunaux, le respect des dispositions du présent contrat relatives à la garantie contractuelle suppose que l’acheteur honore ses engagements financiers envers le vendeur.
                        </li>
                        <li>
                            Les réclamations ou contestations seront toujours reçues avec bienveillance attentive, la bonne foi étant toujours présumée chez celui qui prend la peine d’exposer ses situations.
                        </li>
                        <li>
                            En cas de litige, le client s’adressera par priorité à l’entreprise pour obtenir une solution amiable. A défaut, le litige sera porté devant l’une des juridictions territoriales compétentes en vertu du code de procédure civile, la juridiction du lieu où vous demeuriez au moment de la conclusion du contrat ou de la survenance du fait dommageable à votre choix conformément à l’article L 141-5 du code de la consommation.
                        </li>
                    </ul>
                </li>
                <li id="article_9">
                    <h3>
                        <strong>
                            Article 9 - Informations légales
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_9_content">
                        <li>
                            Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement des commandes, l’établissement des factures.
                        </li>
                        <li>
                            Le défaut de renseignement entraîne la non validation de la commande. Conformément à la loi «Informatique et Libertés», le traitement des informations nominatives relatives aux clients a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) sous le numéro d'enregistrement : <strong>GDQ0555819K</strong>.
                        </li>
                        <li>
                            Le client dispose (article 34 de la loi du 6 janvier 1978) d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent, qu’il peut exercer auprès d’U.B.M.B.
                        </li>
                        <li>
                            
                        </li>
                        <li>
                            Pour faire valoir ce droit le client peut :
                            <ul>
                                <li>
                                    soit en faire la demande par e-mail en utilisant la messagerie disponible sur le site internet <a href="www.1001-montres.fr">www.1001-montres.fr</a>
                                </li>
                                <li>
                                    soit en faire la demande par simple courrier adressé à cette adresse postale 
                                    <ul>
                                        <li>
                                            ZocainCorp
                                        </li>
                                        <li>
                                            B.P. 855
                                        </li>
                                        <li>
                                            25025 Besançon Cedex
                                        </li>
                                        <li>
                                            France
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            De plus, ZocainCorp s’engage à ne pas communiquer, gratuitement ou avec contrepartie, les coordonnées de ses clients à un tiers.
                        </li>
                    </ul>
                </li>
                <li id="article_10">
                    <h3>
                        <strong>
                            Article 10 –Propriété intellectuelle
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_10_content">
                        <li>
                            Tous les visuels affichés sur <a href="https://www.1001-montres.fr">www.1001-montres.fr</a> sont protégés par les droits de propriété intellectuelle en vigueur. Ils sont soit la propriété d’U.B.M.B soit la propriété des différentes marques commerciales présentées.
                        </li>
                        <li>
                            Toute utilisation et reproduction en totalité ou en partie et sur quelque support que ce soit, est interdite et pénalement sanctionnée, notamment au titre de la contrefaçon
                        </li>
                    </ul>
                </li>
                <li id="article_11">
                    <h3>
                        <strong>
                            Article 11 – Responsabilités
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_11_content">
                        <li>
                            Les produits proposés à la vente sont conformes à la législation française en vigueur. Il appartient au client (vous) de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou services que le client envisage de commander.
                        </li>
                        <li>
                            Les photos sont diffusées à titre d’illustration. Le vendeur invite le client à se reporter au descriptif de chaque produit pour en connaître les caractéristiques précises.
                        </li>
                        <li>
                            Responsabilité du client - Le Client doit maintenir une adresse e-mail et une adresse postale valide. Les informations seront mises à jour par U.B.M.B à la demande du client.
                        </li>
                    </ul>
                </li>
                <li id="article_12">
                    <h3>
                        <strong>
                            Article 12 – Cookies
                        </strong>
                        <span class="fas fa-carret-down more">+</span>
                        <span class="fas fa-carret-up less">-</span>
                    </h3>
                    <ul id="article_12_content">
                        <li>
                            Ce site recourt à l'usage de cookies. Pour en savoir plus, veuillez consulter la page  <a href="https://www.1001-montres.fr/content/24-cookies">Cookies</a>.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        
        <script>
            function toggle_visibility(id) {
            if(id.style.display == 'block')
                id.style.display = 'none';
            else
                id.style.display = 'block';
            }


            article0 = document.getElementById('article_0');
            article0Content = document.getElementById('article_0_content');

            article1 = document.getElementById('article_1');
            article1Content = document.getElementById('article_1_content');

            article2 = document.getElementById('article_2');
            article2Content = document.getElementById('article_2_content');

            article3 = document.getElementById('article_3');
            article3Content = document.getElementById('article_3_content');

            article3_1 = document.getElementById('article_3_1');
            article3_1Content = document.getElementById('article_3_1_content');

            article3_2 = document.getElementById('article_3_2');
            article3_2Content = document.getElementById('article_3_2_content');
            article3_2_1 = document.getElementById('article_3_2_1');
            article3_2_1Content = document.getElementById('article_3_2_1_content');
            article3_2_2 = document.getElementById('article_3_2_2');
            article3_2_2Content = document.getElementById('article_3_2_2_content');
            article3_2_3 = document.getElementById('article_3_2_3');
            article3_2_3Content = document.getElementById('article_3_2_3_content');

            article4 = document.getElementById('article_4');
            article4Content = document.getElementById('article_4_content');
            article4_1 = document.getElementById('article_4_1');
            article4_1Content = document.getElementById('article_4_1_content');
            article4_2 = document.getElementById('article_4_2');
            article4_2Content = document.getElementById('article_4_2_content');
            article4_3 = document.getElementById('article_4_3');
            article4_3Content = document.getElementById('article_4_3_content');

            article5 = document.getElementById('article_5');
            article5Content = document.getElementById('article_5_content');

            article6 = document.getElementById('article_6');
            article6Content = document.getElementById('article_6_content');
            article6_1 = document.getElementById('article_6_1');
            article6_1Content = document.getElementById('article_6_1_content');
            article6_2 = document.getElementById('article_6_2');
            article6_2Content = document.getElementById('article_6_2_content');

            article7 = document.getElementById('article_7');
            article7Content = document.getElementById('article_7_content');
            article7 = document.getElementById('article_7');
            article7Content = document.getElementById('article_7_content');
            article7_1 = document.getElementById('article_7_1');
            article7_1Content = document.getElementById('article_7_1_content');
            article7_2 = document.getElementById('article_7_2');
            article7_2Content = document.getElementById('article_7_2_content');
            article7_3 = document.getElementById('article_7_3');
            article7_3Content = document.getElementById('article_7_3_content');
            article7_4 = document.getElementById('article_7_4');
            article7_4Content = document.getElementById('article_7_4_content');

            article8 = document.getElementById('article_8');
            article8Content = document.getElementById('article_8_content');

            article9 = document.getElementById('article_9');
            article9Content = document.getElementById('article_9_content');

            article10 = document.getElementById('article_10');
            article10Content = document.getElementById('article_10_content');
            
            article11 = document.getElementById('article_11');
            article11Content = document.getElementById('article_11_content');

            article12 = document.getElementById('article_12');
            article12Content = document.getElementById('article_12_content');

            article0.onclick = function(){
                toggle_visibility(article0Content);
            }
            
            article1.onclick = function(){
                toggle_visibility(article1Content);
            }
            article2.onclick = function(){
                toggle_visibility(article2Content);
            }
            article3.onclick = function(){
                toggle_visibility(article3Content);
            }
            article3_1.onclick = function(){
                toggle_visibility(article3Content);
                toggle_visibility(article3_1Content);
            }
            article3_2.onclick = function(){
                toggle_visibility(article3Content);

                toggle_visibility(article3_2Content);
            }
            article3_2_1.onclick = function(){
                toggle_visibility(article3_2Content);
                
                toggle_visibility(article3_2_1Content);
            }
            article3_2_2.onclick = function(){
                toggle_visibility(article3_2Content);
                
                toggle_visibility(article3_2_2Content);
            }
            article3_2_3.onclick = function(){
                toggle_visibility(article3_2Content);
                
                toggle_visibility(article3_2_3Content);
            }
            article4.onclick = function(){
                toggle_visibility(article4Content);
            }
            article4_1.onclick = function(){
                toggle_visibility(article4Content);

                toggle_visibility(article4_1Content);
            }
            article4_2.onclick = function(){
                toggle_visibility(article4Content);

                toggle_visibility(article4_2Content);
            }
            article4_3.onclick = function(){
                toggle_visibility(article4Content);

                toggle_visibility(article4_3Content);
            }
            article5.onclick = function(){
                toggle_visibility(article5Content);
            }
            article6.onclick = function(){
                toggle_visibility(article6Content);
            }
            article6_1.onclick = function(){
                toggle_visibility(article6Content);
                toggle_visibility(article6_1Content);
            }
            article6_2.onclick = function(){
                toggle_visibility(article6Content);
                toggle_visibility(article6_2Content);
            }
            article7.onclick = function(){
                toggle_visibility(article7Content);
            }
            article7_1.onclick = function(){
                toggle_visibility(article7Content);
                toggle_visibility(article7_1Content);
            }
            article7_2.onclick = function(){
                toggle_visibility(article7Content);
                toggle_visibility(article7_2Content);
            }
            article7_3.onclick = function(){
                toggle_visibility(article7Content);
                toggle_visibility(article7_3Content);
            }
            article7_4.onclick = function(){
                toggle_visibility(article7Content);
                toggle_visibility(article7_4Content);
            }
            article8.onclick = function(){
                toggle_visibility(article8Content);
            }
            article9.onclick = function(){
                toggle_visibility(article9Content);
            }
            article10.onclick = function(){
                toggle_visibility(article10Content);
            }
            article11.onclick = function(){
                toggle_visibility(article11Content);
            }
            article12.onclick = function(){
                toggle_visibility(article12Content);
            }
            
            
        
        
        </script>


    </section>
</html>