
    
    {% block content %}
    
        {% include 'head.html' %}
        {% include 'customer/navigation.html' %}
    
        <link rel="stylesheet" href="../../static/css/main.css">
        
        <section id='main_screen screen' class="main_view screen" >
            <form method='POST', enctype="multipart/form-data" class="formcontainer">
                <h2>Last Order</h2>
                <div class="comfirm_adress_product_container">
                    <div class="comfirm_adress_image_container">
                        <img src="{{url_for('static', filename='images/'+product_image)}}", alt="{{product_name}} mechanical watch" width="100", height="150">
                </div>
                    <div class="comfirm_adress_product_detail">
                        <div class="comfirm_adress_color_container">
                            <div class="inputbox">
                                <input type="hidden" required="required" name="color" value="{{order.color}}">
                                <input type="hidden" required="required" name="customer_id" value="{{order.customer_id}}">
                                <input type="hidden" required="required" name="invoice" value="{{order.invoice}}">
                                <input type="hidden" required="required" name="payer_id" value="{{order.payer_id}}">
                                <input type="hidden" required="required" name="tva" value="{{tva}}">
                                <span class="text">Color: {{order.color}}</span>
                                <span class="line"></span>
                            </div>
                            <div class="comfirm_adress_price_container">
                                <div class="inputbox">
                                    <input type="hidden" required="required" name="grand_total" value="{{price}}">
                                    <span class="text">Price: "{{price}}"</span>
                                    <span class="line"></span>
                                </div>
                                <div class="inputbox">
                                    <input type="hidden" required="required" name="grand_total" value="{{tva}}">
                                    <span class="text">TVA: "{{tva}}"</span>
                                    <span class="line"></span>
                                </div>
                        </div>
                        </div>
                    
                    </div>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="username" value="{{order.firstname}}">
                    <span class="text">First Name: {{order.firstname}}</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="name" value="{{order.name}}">
                    <span class="text">Name</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="email" value="{{order.mail}}">
                    <span class="text">Email</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="phone" value="{{order.phone}}">
                    <span class="text">Phone</span>
                    <span class="line"></span>
                </div>
    
    
                <div class="inputbox">
                    <input type="text" required="required" name="country" value="{{order.country}}">
                    <span class="text">Country</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="state" value="{{order.state}}">
                    <span class="text">state</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="city" value="{{order.city}}">
                    <span class="text">City</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="adress" value="{{order.street}}">
                    <span class="text">Adress</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="zipcode" value="{{order.postal_code}}">
                    <span class="text">Zipcode</span>
                    <span class="line"></span>
                </div>
                
                <input type="submit" value="PDF">
                <!--Put a shipping truck icon for the input-->          
            </form>
            <div class="last_order_resume">

            </div>
        </section>
        <script type="text/javascript">
                
            function mainView(){
                subProduct = document.getElementById('main_screen');
                subProduct.classList.toggle("show");
            };
    
        </script>
    
    {% endblock content %}
