<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    {% include 'navigation.html' %}
    {% block content %}
    <div style='text-align: center;'>
        <h2>Login</h2>
    </div>
    {% from "admin/_formhelper.html" import render_field %}
        
        <div class="screen">
            <form method='POST', enctype="multipart/form-data" class="formcontainer">
                <h2>User Login</h2>
                {{ form.csrf_token }}
    
                <div class="inputbox">
                    <input type="text" required="required" name="username">
                    <span class="text">First Name</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="password" required="required" name="password">
                    <span class="text">Password</span>
                    <span class="line"></span>
                </div>
                
                <input type="submit" value="Send">               
            </form>
        </div>
    {% endblock content %}

    