<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    {% include 'navigation.html' %}
    {% block content %}
    <div style='text-align: center;'>
        <h2>Login</h2>
    </div>
    {% from "admin/_formhelper.html" import render_field %}
        <div class="form_container">
            {% include 'admin/_messages.html' %}
            <form  method='POST', enctype="multipart/form-data">
                {{ form.csrf_token }}
                <dl>
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                </dl>
                <input type='submit' value='Login' class="btn">
            </form>
        </div>
    {% endblock content %}

    