
<nav id="sidebar" class="sidebar">
    <div class="text">
        SkullWatch
    </div>
    <ul>
        <li><a href="/customer/interface">administration</a></li>
        <!--<li><a href="#">messages</a></li>-->
        <li>
            <a href="/customer/interface/personnal_data" id="product-btn" class="product-btn" onclick='productView()'>
                personnal data
                <span id='first' class="fas fa-caret-down first"></span>
            </a>
        </li>
        <li>
            <a href="/customer/interface/all_orders" id="category-btn" class="category-btn" onclick='categoryView()'>Order<span id='second' class="fas fa-caret-down second"></span></a>
        </li>
        <li><a href="/carts">cart ({{session['Shoppingcart']|length}})</a></li>
        <li><a href="{{url_for('customer_logout')}}">Logout</a></li>  
    </ul>
</nav>
<script type="text/javascript">
        
    function productView(){
        subProduct = document.getElementById('product-show');
        subProduct.classList.toggle("show");
        
        first = document.getElementById('first');
        first.classList.toggle("rotate");
    };
    function categoryView(){
        subProduct = document.getElementById('category-show');
        subProduct.classList.toggle("show");

        second = document.getElementById('second');
        second.classList.toggle("rotate");
    };
    function brandView(){
        subProduct = document.getElementById('brand-show');
        subProduct.classList.toggle("show");
        
        third = document.getElementById('third');
        third.classList.toggle("rotate");
    };
    function showMenu(){
        btn = document.getElementById('btn');
        btn.classList.toggle('click')

        menu = document.getElementById('sidebar');
        menu.classList.toggle("show");
    };
</script>


<div id='btn' class="btn" onclick='showMenu(); mainView()'>
    <span class="fas fa-bars"></span>
</div>