<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    
    {% include 'navigation.html' %}
    {% block content %}
    <div class="screen">
        <script>
            function checkBlank(inputData){
                if (inputData.value == ""){
                    alert('Please fill required data');
                    console.log(inputData)
                    return false;
                }
            }
            function checkPassword(userPassword){
                // check if password had min length required
                // check if password had Digit, Majuscule, SpecialChar
                // userPassword == str

                // check if password had min len required
                len_pass = userPassword.lenght; // min len == 10 ?
                if (len_pass < 10){
                    alert('Password must had 10 character minimum');
                }

            }
            function checkForm(){
                // we need to check if our inputs are filled
                // we need to check if password and validate are the same things
                // we need to check if email had legal format
                // if everythong is ok we can keep going
                firstName       = document.getElementsByName('username');
                name            = document.getElementsByName('name');
                mail            = document.getElementsByName('email');
                password        = document.getElementsByName('password');
                comfirmPassword = document.getElementsByName('comfirm');
                country         = document.getElementsByName('country');
                state           = document.getElementsByName('state');
                city            = document.getElementsByName('city');
                phone           = document.getElementsByName('contact');
                adress          = document.getElementsByName('adress');
                zipcode         = document.getElementsByName('zipcode');

                // we need to check if our inputs are filled
                const formData = [firstName, name, mail,
                                  password, comfirmPassword,
                                  country, state, city,
                                  phone, adress, zipcode];
                formData.forEach(checkBlank);
                
                // we need to check if password and validate are the same things
                console.log('password: ', password[0].value)
                console.log('comfirm: ', comfirmPassword[0].value)
                if ( password[0].value != comfirmPassword[0].value){
                    console.log('Password must be identic');
                    alert('Password must be identic');

                }
                console.log('Password correctly passed');

                //regex part for validate email format
                mail_template = /[a-zA-Z0-9.-]+@[a-zA-Z-]+.com/
                gmail         = /[a-zA-Z0-9.-]+@gmail.com/
                laposte       = /[a-zA-Z0-9.-]+@laposte.net/
                orange        = /[a-zA-Z0-9.-]+@orange.fr/
                example       = /[a-zA-Z0-9.-]+@personal.example.com/
                templates     = /[a-zA-Z0-9.-]+@gmail.com|[a-zA-Z0-9.-]+@laposte.net|[a-zA-Z0-9.-]+@orange.fr|[a-zA-Z0-9.-]+@example.com/
                var message = 'Bonjour les gens !';
                if(mail[0].value.match(gmail) || mail[0].value.match(laposte) || mail[0].value.match(orange) || mail[0].value.match(example)){
                    //alert('account successfully Created');
                    
                    //window.location.replace("http://127.0.0.1:5000/customer/login");
                    return true;
                }
                else{
                    alert('Illegal email');
                    return false;
                }
            };
        </script>
        <form method='POST', enctype="multipart/form-data" class="formcontainer" onsubmit="return checkForm();">
            <h2>User Registration</h2>
            {{ form.csrf_token }}

            <div class="inputbox">
                <input type="text" required="required" name="username" value="{{ username }}">
                <span class="text">First Name</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="name" value="{{ name }}">
                <span class="text">Name</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="email">
                <span class="text">Email</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="password" required="required" name="password">
                <span class="text">Password</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="password" required="required" name="comfirm">
                <span class="text">Comfirm Password</span>
                <span class="line"></span>
            </div>


            <div class="inputbox">
                <input type="text" required="required" name="country">
                <span class="text">Country</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="state">
                <span class="text">state</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="city">
                <span class="text">City</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="" name="contact">
                <span class="text">Contact Phone</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="adress">
                <span class="text">Adress</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="zipcode">
                <span class="text">Zipcode</span>
                <span class="line"></span>
            </div>
            <input type="submit" value="Send">               
        </form>
    </div>
    
    {% endblock content %}

    