<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    
    {% from "admin/_formhelper.html" import render_field %}
    {% include 'navigation.html' %}
    {% block content %}
    <!--<div style='text-align: center;'>
        <h2>Register</h2>
    </div>
    <form  method='POST', enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ form.profile() }}
        </dl>
        <dl>
            {{ render_field(form.country) }}
            {{ render_field(form.state) }}
            {{ render_field(form.city) }}
            {{ render_field(form.contact) }}
            {{ render_field(form.adress) }}
            {{ render_field(form.zipcode) }}
            {{ form.submit() }}
        </dl>
    </form>-->
    <div class="screen">
        <form method='POST', enctype="multipart/form-data" class="formcontainer">
            <h2>User Registration</h2>
            {{ form.csrf_token }}

            <div class="inputbox">
                <input type="text" required="required" name="username">
                <span class="text">First Name</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="name">
                <span class="text">Name</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="email">
                <span class="text">Email</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="password" required="required" name="password">
                <span class="text">Password</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="password" required="required" name="comfirm">
                <span class="text">Comfirm Password</span>
                <span class="line"></span>
            </div>


            <div class="inputbox">
                <input type="text" required="required" name="country">
                <span class="text">Country</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="state">
                <span class="text">state</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="city">
                <span class="text">City</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="" name="contact">
                <span class="text">Contact Phone</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="adress">
                <span class="text">Adress</span>
                <span class="line"></span>
            </div>

            <div class="inputbox">
                <input type="text" required="required" name="zipcode">
                <span class="text">Zipcode</span>
                <span class="line"></span>
            </div>
            <input type="submit" value="Send">               
        </form>
    </div>
    
    {% endblock content %}

    