<!DOCTYPE html>
<html>
<head>
    {% block content %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>-->
    {% include 'admin/_messages.html' %}
    
</head>
{% include 'admin/navigation.html' %}


<div class="product_container">
    <table>
        <thead>
            <th>sr</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.discount}} %</td>
                <td>{{product.brand.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + product.image_1)}}", width="100", height="150"></td>
                <td><a href="{{url_for('updateproduct', id=product.id)}}">Edit</a></td>
                <td>
                    <a href="{{url_for('deleteproduct', id=product.id)}}"> X </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}
