

<footer>
    <div class="section_icon">
        <div class="secure_payment">
            <div class="icon">
                <img class="icon_image" src="{{ url_for('static', filename='css/css_images/payment_icon2.png') }}" alt="silver watch skull watch brand" class="product">
            </div>
            <h3>Secure Payment</h3>
            <p>
                Bank Card, Paypal... You can choose you're favorite payment method
            </p>
            <a href="#">more</a>
        </div>

        <div class="secure_payment">
            <div class="icon">
                <img class="icon_image" src="{{ url_for('static', filename='css/css_images/shipping_icon1.png') }}" alt="silver watch skull watch brand" class="product">
            </div>
            <h3>Sent Back</h3>
            <p>
                Sent Back or refund garanty for all orders
            </p>
            <a href="#">more</a>
        </div>

        <div class="secure_payment">
            <div class="icon">
                <img class="icon_image" src="{{ url_for('static', filename='css/css_images/support.png') }}" alt="silver watch skull watch brand" class="product">
            </div>
            <h3>Dedicated Service</h3>
            <p>
                You have some question ? we hear you, you can contact us via our inbox messagery
            </p>
            <a href="#">more</a>
        </div>

    </div>
    <h3>subscribe to know when we refill our stock</h3>
    <div class="submit_container">
        <form class="subscribe" action="">
            <input type="text" name="subscribe_mail">
            <div class="submit_button">
                <input type="submit">
            </div>
        </form>
    </div>
    <div class="footer_nav">
        
        <ul class="menu_1">
            <li>about us</li>
            <li>Blog</li>
            <li>shipping</li>
            <li>job</li>
            <li>sendback</li>
            <li>contact</li>

        </ul>
        <ul class="menu_1">
            <li>condition of use</li>
            <li>confidentialité</li>
            <li>author right</li>
            <li>affilié</li>
            <li>comformité</li>
            <li>connexion</li>
        </ul>
    </div>
    <div class="social_network_container">
        <div class="fb_container">

        </div>
        <div class="twitter_container">
            
        </div>
    </div>
</footer>