


<div class="nav_container">
    <nav class="nav">
        <ul class="">
            <li><a href="/">Acceuil</a></li>
            
            <li>
                <a href="/">brand</a>
                {% if brands %}
                <ul class="submenu">
                    {% for brand in brands %}
                    <li>
                        <a href="{{url_for('getbrand', id=brand.id)}}">{{brand.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="/">category</a>
                {% if categories %}
                <ul class="submenu">
                    {% for category in categories %}
                    <li>
                        <a href="{{url_for('getcategory', id=category.id)}}">{{category.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            <li>
                <form action="{{url_for('result')}}">
                    <input type="search" name="q" placeholder='Search' id="">
                    <button type="submit">Search</button>
                </form>
            </li>
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('customer_logout')}}">Logout</a></li>            
                <li><a href="/carts">cart ({{session['Shoppingcart']|length}})</a></li>
            {% else %}
            <li><a href="{{url_for('customerLogin')}}">Login</a></li>
            <li><a href="{{url_for('customer_register')}}">Sign in</a></li>
            
            {% endif %}
            <li><a href="/">checkout</a></li>
            
        </ul>
    </nav>
</div>
