



    <nav class="nav">
        <ul class="">
            <li><a href="/monoproduct">Shop</a></li>
            </li>
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('customer_logout')}}">Logout</a></li>            
                <li><a href="/carts">cart ({{session['Shoppingcart']|length}})</a></li>
            {% else %}
            <li><a href="{{url_for('customerLogin')}}">Login</a></li>
            <li><a href="{{url_for('customer_register')}}">Sign in</a></li>
            
            {% endif %}
            <li><a href="/checkout">checkout</a></li>
            
        </ul>
    </nav>



