
body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    /*background-color: #010546;*/
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
h2, h3, h4{
    color: #00c1ff;
}
p{
    color:#98a3a7;
}

/*
#############################################################################
#############################################################################
            ADMIN REGISTRATION
#############################################################################
#############################################################################
*/

.screen{
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    min-height: 99.5vh;
    border: 1px solid white;
}
.screen .formcontainer{
    border: 1px solid cyan;
    width: 80%;
    padding: 20px;
    display: grid;
    grid-gap: 26px;
    grid-template-columns:repeat(auto-fit, minmax(400px, 2fr));
    grid-auto-rows: 150px;
}
.screen .formcontainer h2{
    width: 100%;
    color: cyan;
    text-align: center;
    margin-bottom: 13px;
    grid-column: 1/-1;
}
.screen .formcontainer .inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color: cyan;
}
.screen .formcontainer .inputbox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: black;
}
.screen .formcontainer .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.screen .formcontainer .inputbox input:focus + .text, .screen .formcontainer .inputbox input:valid + .text{
    top: -35px;
    left: -15px;
}
.inputbox dd input:focus + .screen .formcontainer .inputbox dt label{
    top: -40px;
    left: -15px;
    background-color: black;
}
.screen .formcontainer .inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: cyan;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.screen .formcontainer .inputbox input:focus ~ .line, .screen .formcontainer .inputbox input:valid ~ .line{
    height: 100%;
}
input[type="submit"]{
    border:none;
    /*padding: 7px 35px;*/
    cursor: pointer;
    outline: none;
    background-color: cyan;
    color: black;
    font-size: 18px;
    border-radius: 2px;
    
    grid-column: -2/-1;
    justify-self: end;
    width: 100px;
    height: 50px;
}


/*
#############################################################################
#############################################################################
            ADMIN AREA
#############################################################################
#############################################################################
*/
.product_array{
    box-sizing: border-box;
    display: inline;
    position: relative;
    top: 39px;
}
.product_array table{
    width: 100%;
    border-collapse: collapse;
}
.product_array table th, .product_array table td{
    text-align: left;
    border: solid 1px darkblue;
    color: cyan;
    min-height: 50px;
}
.product_array table th{
    background-color: #3e3d3d;
    color: cyan;
}
.img_container{
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
}
td img{
    transform: rotate(74deg);
    width: 145px;
}
tr:nth-child(odd){
    background-color: #252525;
}
/*
    Mobile adaption for the product array 
*/
@media only screen and (max-width: 870px){
    table, thead, tbody, tr, th, td{
        display: block;
    }
    thead{
        display: none;
    }
    
    tr{
        border-bottom: 66px solid black;
    }
    td{
        padding-left: 170px;
        position: relative;
        
        display: flex;
        align-items: center;
    }
    
    td:nth-child(odd){
        background-color: #252525;
    }
    td::before{
        padding: 13px;
        content: attr(data-label);
        position: absolute;
        width: 150px;
        top: 0;
        left: 0;
        bottom: 0;
        color: orange;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .sidebar.show{
        z-index: 5;
        width: 100%;
        position: fixed;
        top: 0;
    }
}


.screen_adminarea{
    display: flex;
    justify-content: center;
}

section#main_screen{
    width: 80%;
    left: 10%;
    min-height: 70vh;
    background-color: #1e1e1e;
    box-shadow: 0px 5px cyan;
    position: relative;
    transition: 0.9s ease;
}
section#main_screen.show{
    left: 22%;
    width: 70%;
    transition: 0.6s ease;
}
div.banner{
    height: 20%;
    min-height: 120px;
    text-align: center;
    background-color: #1e1e1e;
    box-shadow: 0px 5px cyan;
    position: relative;
    top: 0;
}


.btn{
    position: fixed;
    bottom: 15px;
    right: 13px;
    height: 45px;
    width: 45px;
    text-align:center;
    background-color: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.6s ease;
    z-index: 10;
}
.btn span{
    color: magenta;
    font-size: 28px;
    line-height: 45px;
}
.add_button{
    position: absolute;
    right: 13px;
    bottom: 13px;
    text-align: center;
    padding: 0, 15px;
}
.click span:before{
    content : '\f00d';
}
.sidebar{
    position: absolute;
    width: 17%;
    height: 100%;
    background-color: #1b1b1b;
    transition: 0.9s ease;
    left: -66%;
}
.sidebar.show{
    left: 0px;
    top: 0;
    border-right: 3px solid black;
}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background-color: #1e1e1e;
    letter-spacing: 2px;
}
nav ul{
    width: 65%;
    list-style: none;
}
nav ul li{
    line-height: 40px;
    border-bottom: 2px solid cyan;/* purple */
}
nav ul li a{
    position: relative;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
}
nav ul li a:hover{
    color: cyan;
    background-color: #1e1e1e;
    border-right: 2px solid cyan;
    border-left: 2px solid cyan;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .product-show.show{
    display: block;
}
nav ul .category-show.show{
    display: block;
}

nav ul .brand-show.show{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size : 22px;
    transition: transform 0.6s;
}

nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}













.add_product{
    display: flex;
    flex-direction: column;
}
.product_header{
    width: 49%;
    color: cyan;
}
.product_body{
    width: 49%;
}

.product_image_0{
    display: flex;
}
.image_card_input_0{
    display: flex;
    flex-direction: column-reverse;
    padding-right: 3%;
}



.nav_container nav ul{
    display: flex;
    flex-direction: row;
}

.nav_container nav ul li{
    padding-left: 3%;
    list-style: none;
}
.nav_container nav ul li ul.submenu{
    display: flex;
    flex-direction: column;
}


/*
#############################################################################
#############################################################################
            HOME PAGE
#############################################################################
#############################################################################
*/

.nav nav ul{
    display: flex;
    flex-direction: row;
}

.nav nav ul li{
    padding-left: 3%;
    list-style: none;
}

.product_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    justify-content: center;
}
.product_card{
    width: 200px;
    height: 350px;
    text-align: center;
    border: 3px #00172c solid;
    position:relative;
}
.product_card_footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.product_container .product_card_footer span.right{
    position: absolute;
    right: 0;
    top: -30px;
}
span.left{
    position: absolute;
    left: 0;
    top: -30px;
}


.paginate{
    text-align: center;
    margin-top: 3%;
}
.paginate span{
    display: inline-block;
    border:3px #00172c solid;
    margin-right: 1%;
    width: 27px;
    height: 25px;
    padding-top: 4px;
}

.paginate span:hover{
    background-color:#00c1ff;
    border: 3px #010546 solid;
}





/*
#############################################################################
#############################################################################
            SINGLE PAGE PRODUCT
#############################################################################
#############################################################################
*/


.single_product_container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    justify-content: center;
}
.single_image_gallery{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 46%;

}
span.single_btn_add_cart{
    position: absolute;
    bottom: 13%;
    right: 13%;
    background-color: #00172c;
    border-radius: 5px 5px 5px 5px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px black;
}
span.single_btn_add_cart:hover{
    background-color: #00c1ff;
    box-shadow: 0px 0px 3px 3px #00c1ff;
}
span.single_btn_add_cart a:hover{
    color: #00172c;
}
.single_product_card{
    width: 44%;
    background-color: #070d5d;
    box-shadow: 6px 6px darkturquoise;
}
#single_image_screen{
    width: 60%;
    min-width: 320px;
}
.product_container .product_card_footer span.right{
    position: absolute;
    right: 0;
    top: -30px;
}





/*
#############################################################################
#############################################################################
            COMFIRMATION ORDER
#############################################################################
#############################################################################
*/
.comfirm_adress_product_container{
    display: flex;
    justify-content: space-around;
    border: 2px solid aqua;
    align-items: center;
}
.comfirm_adress_image_container{
    width: 33%;
}
.comfirm_adress_product_detail{
    width: 30%;
    text-align: center;
    height: 100%;
}
.comfirm_adress_color_container{
    text-align: center;
    height: 100%;
    display: grid;
    align-items: end;
}
.comfirm_adress_color_container .inputbox input{
    left: 0;
}
.comfirm_adress_color_container .inputbox .text{
    text-align: left;
}
.comfirm_adress_price_container{
    padding-bottom: 13px;
}
.comfirm_adress_price_container .inputbox .text{
    text-align: left;
}




/*
#############################################################################
#############################################################################
            PDF ORDER
#############################################################################
#############################################################################
*/
.customer_name{
    display: flex;
    justify-content: space-between;
}

.screen .inputbox_order{
    position: relative;
    width: 44%;
    height: 40px;
    color: cyan;
}
.screen .inputbox_order input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: black;
}
.screen .inputbox_order .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.screen .inputbox_order input:focus + .text, .screen .inputbox_order input:valid + .text{
    top: -35px;
    left: -15px;
}
.inputbox_order dd input:focus + .screen .inputbox_order dt label{
    top: -40px;
    left: -15px;
    background-color: black;
}
.screen .inputbox_order .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: cyan;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.screen .inputbox_order input:focus ~ .line, .screen .inputbox_order input:valid ~ .line{
    height: 100%;
}