body{
    background-color: black;
    color: cyan;
}
body.dark{
    background-color: black;
    color: cyan;
}
body.light{
    background-color: silver;
    color: blue;
}

/*
#####################################################################################
#####################################################################################
                    NAVIGATION MENU
#####################################################################################
#####################################################################################
*/

.nav{
    width: 100%;
    border: 2px solid cyan;
    background: rgba(0, 140, 255, 0.1);
}
.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}
.nav ul li{
    border: 4px solid cyan;
    background: rgba(0, 140, 255, 0.3);
    min-width: 100px;
    width: 13%;
    min-height: 50px;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.nav ul li:hover{
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -6px;
    right: -6px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}
.nav ul li a{
    color: cyan;
    font-size: 1.5em;
    width: 100%;
    border: 2px solid;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

/*
#####################################################################################
#####################################################################################
                    PRODUCT COLOR SELECTION
#####################################################################################
#####################################################################################
*/
.screen{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}
.product_container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hidden{
    display: none;
}
.product_header{
    width: 80%;
    text-align: center;
    position: absolute;
    top: 0;
}
.product_header h2{
    font-size: 3em;
    position: absolute;
    top: -46px;
    left: 30%;
}
.product_image{
    border: 2px solid cyan;
    background: rgba(0, 140, 255, 0.1);
    width: 80%;
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.product{
    width: 80%;
    min-width: 330px;
    max-width: 650px;
    transform: rotate(54deg);

    position: relative;
    top: 4%;

    margin-bottom: 12%;
}
.color_selection_container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 13px;
    border-radius: 25px;
    border: 2px solid cyan;
    background: rgba(0, 140, 255, 0.1);
    position: fixed;
    bottom: 6%;
    right: 6%;
    z-index: 10;
}
.color_check{
    position: relative;
    width: 100%;
    opacity: 0;
}
button{
    
    display: flex;
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#ball{
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid cyan;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.8s;
}
#ball.left{
    transform: translate(-68%);
}
#ball.right{
    transform: translate(0);
}
.color_black{
    background-color: black;
    margin-left: 11px;
}

.color_silver{
    background-color: silver;
}

/*
#####################################################################################
#####################################################################################
                    A D D     C A R T
#####################################################################################
#####################################################################################
*/

.add_cart{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.image_container_add{
    border: 2px solid cyan;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 140, 255, 0.1);
    transition: 0.5s;
    position: relative;
}
.image_container_add:hover{
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    background: rgba(0, 0, 0, 0.3);
    top: -13px;
}
#checkout_icon{
    width: 60px;
    height: 60px;
    position: relative;
    left: -3px;
}
.product_card{
    position: fixed;
    left: 3%;
    bottom: 3%;
}
.product_card_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right a{
    border-bottom: 2px solid cyan;
    text-decoration: none;
    font-size: 1.5em;
}
.add_cart_button{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    opacity: 0;
}
/*
#####################################################################################
#####################################################################################
                    PRODUCT DESCRIPTION
#####################################################################################
#####################################################################################
*/
.product_description_screen{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    
    display: grid;
    grid-gap: 26px;
    grid-template-columns:repeat(auto-fit, minmax(400px, 2fr));
    grid-auto-rows: repeat(auto-fit, minmax(400px, 2fr));
    margin-bottom: 33px;
}
.product_description_image{
    border: 2px solid cyan;
    background: rgba(0, 140, 255, 0.1);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}
.product_description_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 70px;
}





/*
#####################################################################################
#####################################################################################
                    PRODUCT UTILISATION
#####################################################################################
#####################################################################################
*/
/*
.product_test_grid{
    border: 2px solid white;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    
    display: grid;
    grid-gap: 26px;
    grid-template-columns:repeat(auto-fit, minmax(400px, 2fr));
    grid-auto-rows: repeat(auto-fit, minmax(400px, 2fr));
    align-items: center;
    justify-items: center;
    margin-bottom: 33px;
}
.tuto_card{
    border: 2px solid cyan;
    max-width: 80%;
    min-width: 60%;
}
.product_test_grid img{
    width:  300px;
}
.tuto_image_container{
    display: flex;
    justify-content: center;
    background: rgba(0, 140, 255, 0.1);
}
.tuto_image{
    transform: rotate(78deg);

}
*/
/*
####################################################################################
*/
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    border: darkblue;
    flex-wrap: wrap;
    grid-gap: 50px;
}
.card{
    position: relative;
    width: 20%;
    min-width: 350px;
    height: 400px;
}
.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border: 1px solid cyan;
}
.face1{
    background: rgba(0, 140, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}
.face1 h2{
    margin: 10px 0 0;
    color: cyan;
    text-align: center;
    font-size: 1.5em;
}
.card_image{
    width: 130%;
    transform: rotate(78deg);
}
.card:hover .face1{
    transform: translateY(-100%) rotateX(90deg);
    background: cyan;
}
.face2{
    background: rgba(0, 140, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}
.card:hover .face2{
    transform: translateY(0%) rotateX(0deg);
}
.content{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}










/*
        cloud animation
*/
/*.clouds{
    z-index: 10;
    bottom: 0;
    left: 0;
    display: inline;
    position: absolute;
}*/
#clouds{
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100%;
    z-index: -1;
    top: 0;
    opacity: 0.1;
}
#clouds.silver{
    opacity: 0.35;
    filter: invert(100%);
}
#clouds img{
    position: relative;
    bottom: -3%;
    padding: 10px 6px;
    /*min-width: 10%;*/
    min-height: 80%;
    animation: animatefog 60s linear infinite;
}
@keyframes animatefog{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(10%);
    }
}




/*
#############################################################################
#############################################################################
            CART PAGE
#############################################################################
#############################################################################
*/
/*
            NAVIGATION MENU
*/
.product_array{
    box-sizing: border-box;
    display: inline;
    position: relative;
    top: 39px;
}
.product_array table{
    width: 100%;
    border-collapse: collapse;
}
.product_array table th, .product_array table td{
    text-align: left;
    border: solid 1px black;
    color: cyan;
    min-height: 50px;
}
.product_array table th{
    background-color: #3e3d3d;
    color: cyan;
}
.img_container{
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
}
td img{
    transform: rotate(74deg);
    width: 145px;
}
tr:nth-child(odd){
    background-color: #252525;
}
/*
    Mobile adaption for the product array 
*/
@media only screen and (max-width: 870px){
    table, thead, tbody, tr, th, td{
        display: block;
    }
    thead{
        display: none;
    }
    
    tr{
        border-bottom: 66px solid black;
    }
    td{
        padding-left: 170px;
        position: relative;
        
        display: flex;
        align-items: center;
    }
    
    td:nth-child(odd){
        background-color: #252525;
    }
    td::before{
        padding: 13px;
        content: attr(data-label);
        position: absolute;
        width: 150px;
        top: 0;
        left: 0;
        bottom: 0;
        color: orange;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
}











.order_container{
    border: 2px solid cyan;
    background: rgba(0, 140, 255, 0.1);
    min-height: 20vh;
}
.order_pannel{
    border: 4px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
.line{
    min-height: 50px;
    min-width: 250px;
}
.order_pannel_header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    font-size: 1.5em;
}

.order_pannel_delete{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
}
.order_pannel_delete a{
    width: 100%;
    height: 100%;
}


.order_pannel_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    position: relative;
    width: 60%;
    gap: 13px;
}
.order_total{
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: -50%;
}
.order_tax{
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: -50%;
}
.order_pannel_footer{
    display: flex;
    flex-direction: row-reverse;
}
.order_pannel_buy{
    width: 100%;
    height: 100%;
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_pannel_buy a{
    width: 100%;
    height: 100%;
}
.image_container_add {
    font-size: 1.5em;
    font-weight: bold;
}