<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>-->
</head>
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% include 'admin/navigation.html' %}

<section id='main_screen' class="main_view" >
    <div class="banner">
        <h2>categories</h2>
    </div>
    <div class="product_container">
        <table>
            <thead>
                <th>sr</th>
                <th>category name</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% if category %}
                {% for cat in category %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{cat.name}}</td>
                    <td><a href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

</section>
<script type="text/javascript">
                
    function mainView(){
        subProduct = document.getElementById('main_screen');
        subProduct.classList.toggle("show");
    };

</script>

{% endblock content %}

</body>
</html>