
<nav id="sidebar" class="sidebar">
    <div class="text">
        SkullWatch
    </div>
    <ul>
        <li><a href="/admin">administration</a></li>
        <li><a href="#">dashboard</a></li>
        <li>
            <a href="#" id="product-btn" class="product-btn" onclick='productView()'>
                product
                <span id='first' class="fas fa-caret-down first"></span>
            </a>
            <ul id="product-show" class="product-show">
                <li><a href="/addproduct">add product</a></li>
                <li><a href="/addcolor">add color</a></li>
                <!--<li><a href='/updateproduct'>update</a></li>
                <li><a href='/deleteproduct'>delete</a></li>-->
            </ul>
        </li>
        <li>
            <a href="#" id="category-btn" class="category-btn" onclick='categoryView()'>category<span id='second' class="fas fa-caret-down second"></span></a>
            <ul id="category-show" class="category-show">
                <li><a href="/addcat">add category</a></li>
                <li><a href="/categories">category</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="brand-btn" class="brand-btn" onclick='brandView()'>brand<span id='third' class="fas fa-caret-down third"></span></a>
            <ul id="brand-show" class="brand-show">
                <li><a href="/addbrand">add brand</a></li>
                <li><a href="/brands">brand</a></li>
            </ul>
        </li>
        <li>sells</li>
        <li>messages</li>
        <li>income</li>
        <li>taxes</li>
    </ul>
</nav>
<script type="text/javascript">
        
    function productView(){
        subProduct = document.getElementById('product-show');
        subProduct.classList.toggle("show");
        
        first = document.getElementById('first');
        first.classList.toggle("rotate");
    };
    function categoryView(){
        subProduct = document.getElementById('category-show');
        subProduct.classList.toggle("show");

        second = document.getElementById('second');
        second.classList.toggle("rotate");
    };
    function brandView(){
        subProduct = document.getElementById('brand-show');
        subProduct.classList.toggle("show");
        
        third = document.getElementById('third');
        third.classList.toggle("rotate");
    };
    function showMenu(){
        btn = document.getElementById('btn');
        btn.classList.toggle('click')

        menu = document.getElementById('sidebar');
        menu.classList.toggle("show");
    };
</script>


<div id='btn' class="btn" onclick='showMenu(); mainView()'>
    <span class="fas fa-bars"></span>
</div>