<!DOCTYPE html>
<html>
<head>

    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>register</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script src='main.js'></script>
</head>
<body>
    {% block content %}
    {% from "admin/_formhelper.html" import render_field %}
        <!--<div class="form_container">
            <form  method='POST', enctype="multipart/form-data">
                <dl>
                    {{ render_field(form.name, class='form_name') }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}
                </dl>
                <input type='submit' value='Register' class="btn">
            </form>

        </div>-->
    
    
        <div class="screen">
            <form method='POST', enctype="multipart/form-data" class="formcontainer">
                <h2>Admin Registration</h2>

                <div class="inputbox">
                    <input type="text" required="required" name="username">
                    <span class="text">User Name</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="text" required="required" name="name">
                    <span class="text">Name</span>
                    <span class="line"></span>
                </div>

                <div class="inputbox">
                    <input type="text" required="required" name="email">
                    <span class="text">Email</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="password" required="required" name="password">
                    <span class="text">Password</span>
                    <span class="line"></span>
                </div>
    
                <div class="inputbox">
                    <input type="password" required="required" name="comfirm">
                    <span class="text">Comfirm Password</span>
                    <span class="line"></span>
                </div>
                <input type="submit" value="Send">
                   
            </form>
        </div>
    
        {% endblock content %}

    